<mat-sidenav mode="over" [fixedInViewport]="true" opened mode="side">
    <mat-accordion>
        <a mat-button style="text-align: center">
            <mat-icon aria-hidden="false" aria-label="Example home icon" [routerLink]="['/home']">home</mat-icon>
        </a>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Aplikacija
                </mat-panel-title>
                <mat-panel-description>
                    Aplikacija za vođenje evidencije
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item routerLinkActive="active" [routerLink]="['/korisnik']">Korisnik</a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item routerLinkActive="active" [routerLink]="['/dobavljac']">Dobavljač</a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item routerLinkActive="active" [routerLink]="['/izvestaj']">Izveštaj</a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item routerLinkActive="active" [routerLink]="['/menadzer']">Menadžer</a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item routerLinkActive="active" [routerLink]="['/porudzbina']">Porudžbina</a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item routerLinkActive="active" [routerLink]="['/prodavac']">Prodavac</a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item routerLinkActive="active" [routerLink]="['/proizvod']">Proizvod</a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item routerLinkActive="active" [routerLink]="['/proizvodjac']">Proizvođač</a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item routerLinkActive="active" [routerLink]="['/racun']">Račun</a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item routerLinkActive="active" [routerLink]="['/vrstaProizvoda']">Vrsta proizvoda</a>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Informacije
                </mat-panel-title>
                <mat-panel-description>
                    Osnovne informacije o aplikaciji
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item routerLinkActive="active" [routerLink]="['/korisnik']">Korisnik</a>
            </mat-nav-list>
        </mat-expansion-panel>
    </mat-accordion>
</mat-sidenav>