<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje izveštaja</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija izveštaja</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Brisanje izveštaja</h3>
  <form class="mat-dialog-content" ngSubmit="submit" #formControl="ngForm">
    <div class="form">
      <mat-form-field class="example-full-width" color="accent">
        <input min="1900-01-01" max="2079-06-06" onkeydown="return false" type="date" matInput placeholder="Od datuma"
          [ngModel]="data.datumOd | date : 'yyyy-MM-dd'" name="datumOd" (ngModelChange)="data.datumOd=$event"
          [disabled]="flag == 3" required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="example-full-width" color="accent">
        <input min="1900-01-01" max="2078-12-31" onkeydown="return false" type="date" matInput placeholder="Do datuma"
          [ngModel]="data.datumDo | date : 'yyyy-MM-dd'" name="datumDo" (ngModelChange)="data.datumDo=$event"
          [disabled]="flag == 3" required>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button color="accent" *ngIf="flag == 1" type="submit" [mat-dialog-close]="1" (click)="add()"
        [disabled]="!formControl.valid">Dodaj</button>
      <button mat-raised-button color="primary" *ngIf="flag == 3" type="submit" [mat-dialog-close]="1"
        (click)="delete()">Obriši</button>
      <button mat-raised-button color="warn" (click)="cancel()" tabindex="-1">Poništi</button>
    </div>
    <br>
  </form>
</div>