<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje porudžbine</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija porudžbine</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje porudžbine</h3>
    <form class="mat-dialog-content" ngSubmit="submit" #formControl="ngForm">
      <div class="form">
        <mat-form-field class="example-full-width" color="accent"> 
          <input matInput [matDatepicker]="datumPorucivanja" placeholder="Datum poručivanja" [(ngModel)]="data.datumPorucivanja" name="datumPorucivanja"
            [disabled]="flag == 3">
          <mat-datepicker-toggle matSuffix [for]="datumPorucivanja"></mat-datepicker-toggle>
          <mat-datepicker touchUi #datumPorucivanja></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field class="example-full-width" color="accent"> 
          <input matInput [matDatepicker]="datumIsporuke" placeholder="Datum isporuke" [(ngModel)]="data.datumIsporuke" name="datumIsporuke"
            [disabled]="flag == 3">
          <mat-datepicker-toggle matSuffix [for]="datumIsporuke"></mat-datepicker-toggle>
          <mat-datepicker touchUi #datumIsporuke></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field>
          <mat-select [(ngModel)]="data.statusPorudzbine" placeholder="Status porudžbine" name="statusPorudzbine" [compareWith]="compareTo"
            [disabled]="flag == 3" required>
            <mat-option [value]="data.statusPorudzbine">
              poručeno
            </mat-option>
            <mat-option [value]="data.statusPorudzbine">
              kompletirano
            </mat-option>
            <mat-option [value]="data.statusPorudzbine">
              reklamacija
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field>
          <mat-select [(ngModel)]="data.dobavljac" placeholder="Dobavljač" name="dobavljac" [compareWith]="compareTo"
            [disabled]="flag == 3" required>
            <mat-option *ngFor="let dobavljac of dobavljaci" [value]="dobavljac">
              {{ dobavljac.punNaziv }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field>
          <mat-select [(ngModel)]="data.menadzer" placeholder="Menadžer" name="menadzer" [compareWith]="compareTo"
            [disabled]="flag == 3" required>
            <mat-option *ngFor="let menadzer of menadzeri" [value]="menadzer">
              {{ menadzer.ime }} {{ menadzer.prezime }} 
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field>
          <mat-select [(ngModel)]="data.prodavac" placeholder="Prodavac" name="prodavac" [compareWith]="compareTo"
            [disabled]="flag == 3" required>
            <mat-option *ngFor="let prodavac of prodavci" [value]="prodavac">
              {{ prodavac.ime }} {{ prodavac.prezime }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div mat-dialog-actions>
        <button mat-raised-button color="accent" *ngIf="flag == 1" type="submit" [mat-dialog-close]="1" (click)="add()"
          [disabled]="!formControl.valid">Sačuvaj</button>
        <button mat-raised-button color="accent" *ngIf="flag == 2" type="submit" [mat-dialog-close]="1" (click)="update()"
          [disabled]="!formControl.valid">Sačuvaj</button>
        <button mat-raised-button color="primary" *ngIf="flag == 3" type="submit" [mat-dialog-close]="1" (click)="delete()">Obriši</button>
        <button mat-raised-button color="warn" (click)="cancel()" tabindex="-1">Poništi</button>
      </div>
    </form>
  </div>