<br><br><div class="container resetPassword">
    <div class="card">
        <h4 class="card-header">Resetovanje lozinke</h4>
        <div class="card-body">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="password">Lozinka</label>
                    <input type="password" minlength="8" placeholder="Unesite lozinku" required id="password" formControlName="password" class="form-control" />
                    <span *ngIf="!resetPasswordForm.get('password').valid && resetPasswordForm.get('password').touched"
                        class="help-block">
                        Lozinka je obavezna. Lozinka mora da sadrži najmanje 8 karaktera.
                    </span>
                </div>
                <div class="form-group">
                    <label for="passwordRepeat">Ponovite vašu lozinku</label>
                    <input placeholder="Potvrdite lozinku" minlength="8" required type="password" id="passwordRepeat" formControlName="passwordRepeat" class="form-control" />
                    <span
                        *ngIf="!resetPasswordForm.get('passwordRepeat').valid && resetPasswordForm.get('passwordRepeat').touched"
                        class="help-block">
                        Lozinka je obavezna. Lozinka mora da sadrži najmanje 8 karaktera.
                    </span>
                </div>

                <button class="btn btn-primary" type="submit" [disabled]="!resetPasswordForm.valid" data-toggle="tooltip"
                    data-placement="top" title="Sign up">Resetuj</button>
            </form><br>
        </div>
    </div>
</div>