<mat-toolbar class="toolbarNew" color="primary">
  <span class="title-center">Menadžer</span>
</mat-toolbar>
<div class="height">
  <div class="container mat-elevation-z8">

    <mat-form-field class="search">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretražite menadžere">
    </mat-form-field>

    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

      <ng-container matColumnDef="ime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Ime</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.prodavac.ime}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="prezime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Prezime</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.prodavac.prezime}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="pol">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Pol</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.prodavac.pol}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="datumRodjenja">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Datum rođenja</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.prodavac.datumRodjenja | date : "dd.MM.yyyy."}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="adresaStanovanja">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Adresa stanovanja</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.prodavac.adresaStanovanja}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="telefon">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Telefon</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.prodavac.telefon}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="JMBG">
        <mat-header-cell *matHeaderCellDef mat-sort-header>JMBG</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.prodavac.JMBG}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="datumZaposlenja">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Datum zaposlenja</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.prodavac.datumZaposlenja}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="strucnaSprema">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Stručna sprema</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.prodavac.strucnaSprema}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="adresaKancelarije">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Adresa kancelarije</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.adresaKancelarije}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="brojKancelarije">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Broj kancelarije</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.brojKancelarije}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row style="cursor: default" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSize]="[5]" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>
  </div>
</div>