<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje vrste proizvoda</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija vrste proizvoda</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Brisanje vrste proizvoda</h3>
  <form class="mat-dialog-content" ngSubmit="submit" #formControl="ngForm">
    <div class="form">
      <mat-form-field hintLabel="Maksimalno 30 karaktera">
        <input matInput #input maxlength="30" placeholder="Naziv" [(ngModel)]="data.nazivVrsteProizvoda" name="naziv"
          [disabled]="flag == 3" required>
        <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field hintLabel="Maksimalno 100 karaktera">
        <input matInput #input2 maxlength="100" placeholder="Opis" [(ngModel)]="data.opisVrsteProizvoda"
          name="opisVrsteProizvoda" [disabled]="flag == 3">
        <mat-hint align="end">{{input2.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button color="accent" *ngIf="flag == 1" type="submit" [mat-dialog-close]="1" (click)="add()"
        [disabled]="!formControl.valid">Dodaj</button>
      <button mat-raised-button color="accent" *ngIf="flag == 2" type="submit" [mat-dialog-close]="1" (click)="update()"
        [disabled]="!formControl.valid">Ažuriraj</button>
      <button mat-raised-button color="primary" *ngIf="flag == 3" type="submit" [mat-dialog-close]="1"
        (click)="delete()">Obriši</button>
      <button mat-raised-button color="warn" (click)="cancel()" tabindex="-1">Poništi</button>
    </div>
  </form>
</div>