<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje računa</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija računa</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Brisanje računa</h3>
  <form class="mat-dialog-content" ngSubmit="submit" #formControl="ngForm">
    <div class="form">
      <mat-form-field class="example-full-width" color="accent">
        <input type="datetime-local" matInput required placeholder="Vreme izdavanja" [(ngModel)]="data.vremeIzdavanja"
          name="vremeIzdavanja" [disabled]="flag == 3">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field hintLabel="Maksimalno 20 karaktera">
        <input matInput #input maxlength="20" placeholder="Mesto izdavanja" [(ngModel)]="data.mestoIzdavanja"
          name="mestoIzdavanja" [disabled]="flag == 3">
        <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field hintLabel="Maksimalno 50 karaktera">
        <input required matInput #input2 maxlength="50" placeholder="Naziv prodavnice"
          [(ngModel)]="data.nazivProdavnice" name="nazivProdavnice" [disabled]="flag == 3">
        <mat-hint align="end">{{input2.value?.length || 0}}/50</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <mat-select [(ngModel)]="data.nacinPlacanja" placeholder="Način plaćanja" name="nacinPlacanja"
          [disabled]="flag == 3" required>
          <mat-option value="gotovina">
            gotovina
          </mat-option>
          <mat-option value="kartica">
            kartica
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form" *ngIf="isArray()">
      <mat-form-field>
        <mat-select [(ngModel)]="data.prodavac" placeholder="Prodavac" name="prodavac" [compareWith]="compareTo"
          [disabled]="flag == 3" required>
          <mat-option *ngFor="let prodavac of prodavci" [value]="prodavac">
            {{ prodavac.ime }} {{ prodavac.prezime }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field hintLabel="Maksimalno 20 karaktera, mora biti jedinstven.">
        <input matInput required #input3 maxlength="20" placeholder="Broj računa" [(ngModel)]="data.brojRacuna"
          name="brojRacuna" [disabled]="flag == 3">
        <mat-hint align="end">{{input3.value?.length || 0}}/20</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field hintLabel="Maksimalno 30 karaktera">
        <input matInput #input4 maxlength="30" placeholder="Tip računa" [(ngModel)]="data.tipRacuna" name="tipRacuna"
          [disabled]="flag == 3">
        <mat-hint align="end">{{input4.value?.length || 0}}/30</mat-hint>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button color="accent" *ngIf="flag == 1" type="submit" [mat-dialog-close]="1" (click)="add()"
        [disabled]="!formControl.valid">Dodaj</button>
      <button mat-raised-button color="accent" *ngIf="flag == 2" type="submit" [mat-dialog-close]="1" (click)="update()"
        [disabled]="!formControl.valid">Ažuriraj</button>
      <button mat-raised-button color="primary" *ngIf="flag == 3" type="submit" [mat-dialog-close]="1"
        (click)="delete()">Obriši</button>
      <button mat-raised-button color="warn" (click)="cancel()" tabindex="-1">Poništi</button>
    </div>
  </form>
</div>