<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija naloga</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Brisanje naloga</h3>
  <form class="mat-dialog-content" ngSubmit="submit" #formControl="ngForm">
    <div class="form">
      <mat-form-field hintLabel="Maksimalno 20 karaktera">
        <input matInput #input maxlength="20" placeholder="Ime" [(ngModel)]="data.ime" name="ime" [disabled]="flag == 3"
          required>
        <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field hintLabel="Maksimalno 30 karaktera">
        <input matInput #input2 maxlength="30" placeholder="Prezime" [(ngModel)]="data.prezime" name="prezime"
          [disabled]="flag == 3" required>
        <mat-hint align="end">{{input2.value?.length || 0}}/30</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <mat-select [(ngModel)]="data.pol" placeholder="Pol" name="pol" [disabled]="flag == 3" required>
          <mat-option value="muško">
            muško
          </mat-option>
          <mat-option value="žensko">
            žensko 
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="example-full-width" color="accent">
        <input min="1900-01-01" max="2078-12-31" onkeydown="return false" type="date" matInput
          placeholder="Datum rođenja" [ngModel]="data.datumRodjenja | date : 'yyyy-MM-dd'"
          (ngModelChange)="data.datumRodjenja=$event" name="datumRodjenja" [disabled]="flag == 3" required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field hintLabel="Maksimalno 50 karaktera">
        <input matInput #input3 maxlength="50" placeholder="Adresa stanovanja" [(ngModel)]="data.adresaStanovanja"
          name="adresaStanovanja" [disabled]="flag == 3">
        <mat-hint align="end">{{input3.value?.length || 0}}/50</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field hintLabel="Maksimalno 20 karaktera">
        <input matInput #input4 maxlength="20" placeholder="Telefon" [(ngModel)]="data.telefon" name="telefon"
          [disabled]="flag == 3">
        <mat-hint align="end">{{input4.value?.length || 0}}/20</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field hintLabel="JMBG treba da ima 13 cifara">
        <input pattern="[0-9]+" matInput #input5 minlength="13" maxlength="13" placeholder="JMBG, mora biti jedinstven"
          [(ngModel)]="data.JMBG" name="JMBG" [disabled]="flag == 3" required>
        <mat-hint align="end">{{input5.value?.length || 0}}/13</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="example-full-width" color="accent">
        <input min="1900-01-01" max="2079-06-06" onkeydown="return false" type="date" matInput
          placeholder="Datum zaposlenja" required (ngModelChange)="data.datumZaposlenja=$event"
          [ngModel]="data.datumZaposlenja | date : 'yyyy-MM-dd'" name="datumZaposlenja" [disabled]="flag == 3">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field hintLabel="Maksimalno 20 karaktera">
        <input matInput #input6 maxlength="20" placeholder="Stručna sprema" [(ngModel)]="data.strucnaSprema"
          name="strucnaSprema" [disabled]="flag == 3">
        <mat-hint align="end">{{input6.value?.length || 0}}/20</mat-hint>
      </mat-form-field>
    </div>

    <div class="form" *ngIf="data.menadzer">
      <mat-form-field hintLabel="Maksimalno 50 karaktera">
        <input matInput #input7 maxlength="50" placeholder="Adresa kancelarije"
          [(ngModel)]="data.menadzer.adresaKancelarije" name="adresaKancelarije" [disabled]="flag == 3" required>
        <mat-hint align="end">{{input7.value?.length || 0}}/50</mat-hint>
      </mat-form-field>
    </div>

    <div class="form" *ngIf="data.menadzer">
      <mat-form-field hintLabel="Maksimalno 5 karaktera">
        <input matInput #input8 maxlength="5" placeholder="Broj kancelarije" [(ngModel)]="data.menadzer.brojKancelarije"
          name="brojKancelarije" [disabled]="flag == 3">
        <mat-hint align="end">{{input8.value?.length || 0}}/5</mat-hint>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button color="accent" *ngIf="flag == 2" type="submit" [mat-dialog-close]="1" (click)="update()"
        [disabled]="!formControl.valid">Ažuriraj</button>
      <button mat-raised-button color="primary" *ngIf="flag == 3" type="submit" (click)="delete()">Obriši</button>
      <button mat-raised-button color="warn" (click)="cancel()" tabindex="-1">Poništi</button>
    </div>
  </form>
</div>