<mat-sidenav-container class="example-container">
    <mat-sidenav mode="over" [fixedInViewport]="true" opened mode="side">
        <mat-accordion>
            <div align="center">
                <a mat-button style="text-align: center">
                    <mat-icon aria-hidden="false" aria-label="Home icon" [routerLink]="['/']">home</mat-icon>
                </a>
            </div>
            <mat-expansion-panel>
                <mat-expansion-panel-header *ngIf="isLoggedIn()">
                    <mat-panel-title>
                        Trafika
                    </mat-panel-title>
                    <mat-panel-description>
                        Aplikacija za vođenje trafike
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-nav-list *ngIf="isZaposleni()">
                    <a mat-list-item routerLinkActive="active" [routerLink]="['/dobavljac']">Dobavljači</a>
                </mat-nav-list>
                <mat-nav-list *ngIf="isMenadzer()">
                    <a mat-list-item routerLinkActive="active" [routerLink]="['/izvestaj']">Izveštaji</a>
                </mat-nav-list>
                <mat-nav-list *ngIf="isLoggedIn()">
                    <a mat-list-item routerLinkActive="active" [routerLink]="['/porudzbina']">Porudžbine</a>
                </mat-nav-list>
                <mat-nav-list *ngIf="isMenadzer()">
                    <a mat-list-item routerLinkActive="active" [routerLink]="['/zaposleni']">Zaposleni</a>
                </mat-nav-list>
                <mat-nav-list *ngIf="isZaposleni()">
                    <a mat-list-item routerLinkActive="active" [routerLink]="['/proizvod']">Proizvodi</a>
                </mat-nav-list>
                <mat-nav-list *ngIf="isZaposleni()">
                    <a mat-list-item routerLinkActive="active" [routerLink]="['/proizvodjac']">Proizvođači</a>
                </mat-nav-list>
                <mat-nav-list *ngIf="isZaposleni()">
                    <a mat-list-item routerLinkActive="active" [routerLink]="['/racun']">Računi</a>
                </mat-nav-list>
                <mat-nav-list *ngIf="isZaposleni()">
                    <a mat-list-item routerLinkActive="active" [routerLink]="['/vrstaProizvoda']">Vrste proizvoda</a>
                </mat-nav-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Nalog
                    </mat-panel-title>
                    <mat-panel-description>
                        Kreiraj nalog ili se prijavi
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-nav-list *ngIf="isLoggedIn()">
                    <a mat-list-item routerLinkActive="active" [routerLink]="['/korisnik']">Profil</a>
                </mat-nav-list>
                <mat-nav-list *ngIf="!isLoggedIn()">
                    <a mat-list-item routerLinkActive="active" [routerLink]="['/register']">Registracija</a>
                </mat-nav-list>
                <mat-nav-list *ngIf="!isLoggedIn()">
                    <a mat-list-item routerLinkActive="active" [routerLink]="['/login']">Prijavljivanje</a>
                </mat-nav-list>
                <mat-nav-list *ngIf="isLoggedIn()">
                    <a mat-list-item routerLinkActive="active" (click)="logout()">Odjavi se</a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>