<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija dobavljača</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje dobavljača</h3>
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
      <div class="form">
        <mat-form-field hintLabel="Maksimalno 10 karaktera">
          <input matInput #input maxlength="10" placeholder="Skraćeni naziv" [(ngModel)]="data.skraceniNaziv" name="skraceniNaziv" [disabled]="flag == 3" required>
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field hintLabel="Maksimalno 50 karaktera">
          <input matInput #input2 maxlength="50" placeholder="Pun naziv" [(ngModel)]="data.punNaziv" name="punNaziv" [disabled]="flag == 3" required>
          <mat-hint align="end">{{input2.value?.length || 0}}/50</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field hintLabel="Maksimalno 20 karaktera">
          <input matInput #input3 maxlength="20" placeholder="Kontakt" [(ngModel)]="data.kontaktDobavljaca" name="kontaktDobavljaca" [disabled]="flag == 3" required>
          <mat-hint align="end">{{input3.value?.length || 0}}/20</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field hintLabel="Maksimalno 50 karaktera">
          <input matInput #input4 maxlength="50" placeholder="Adresa" [(ngModel)]="data.adresaDobavljaca" name="adresaDobavljaca" [disabled]="flag == 3" required>
          <mat-hint align="end">{{input4.value?.length || 0}}/50</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field hintLabel="Maksimalno 20 karaktera">
          <input matInput #input5 maxlength="20" placeholder="Grad" [(ngModel)]="data.grad" name="grad" [disabled]="flag == 3" required>
          <mat-hint align="end">{{input5.value?.length || 0}}/20</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field hintLabel="Maksimalno 30 karaktera">
          <input matInput #input6 maxlength="30" placeholder="Država" [(ngModel)]="data.drzava" name="drzava" [disabled]="flag == 3" required>
          <mat-hint align="end">{{input6.value?.length || 0}}/30</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field hintLabel="Maksimalno 20 karaktera">
          <input matInput #input7 maxlength="20" placeholder="Poštanski broj" [(ngModel)]="data.postanskiBroj" name="postanskiBroj" [disabled]="flag == 3" required>
          <mat-hint align="end">{{input7.value?.length || 0}}/20</mat-hint>
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field hintLabel="Maksimalno 9 cifara">
          <input matInput type="number" #input8 maxlength="9" placeholder="PIB" [(ngModel)]="data.PIB" name="PIB" [disabled]="flag == 3" required>
          <mat-hint align="end">{{input8.value?.length || 0}}/9</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field hintLabel="Maksimalno 50 karaktera">
          <input matInput #input9 maxlength="50" placeholder="Kontakt osoba" [(ngModel)]="data.kontaktOsoba" name="kontaktOsoba" [disabled]="flag == 3" required>
          <mat-hint align="end">{{input9.value?.length || 0}}/50</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field hintLabel="Maksimalno 30 karaktera">
          <input matInput #input10 maxlength="30" placeholder="Broj žiro računa" [(ngModel)]="data.brojZiroRacuna" name="brojZiroRacuna" [disabled]="flag == 3" required>
          <mat-hint align="end">{{input10.value?.length || 0}}/30</mat-hint>
        </mat-form-field>
      </div>

      <div mat-dialog-actions>
        <button mat-raised-button color="accent" *ngIf="flag == 2" [type]="submit" [mat-dialog-close]="1" (click)="update()"
          [disabled]="!formControl.valid">Sačuvaj</button>
        <button mat-raised-button color="primary" *ngIf="flag == 3" [type]="submit" [mat-dialog-close]="1" (click)="delete()">Obriši</button>
        <button mat-raised-button color="warn" (click)="cancel()" tabindex="-1">Poništi</button>
      </div>
    </form>
  </div>