<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje stavke računa</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje stavke računa</h3>
    <form class="mat-dialog-content" ngSubmit="submit" #formControl="ngForm">
        <div class="form" *ngIf="flag == 1">
            <mat-form-field>
                <input type="number" min="1" matInput #input placeholder="Količina" [(ngModel)]="data.kolicinaProizvoda"
                    name="kolicinaProizvoda" [formControl]="kolicinaProizvoda" required max="2147483647">
            </mat-form-field>
        </div>

        <div class="form" *ngIf="isArray() && flag == 1">
            <mat-form-field>
                <mat-select [(ngModel)]="proizvodDO" placeholder="Proizvod" name="proizvod" [compareWith]="compareTo"
                    required>
                    <mat-option *ngFor="let proizvod of proizvodi" [value]="proizvod">
                        {{ proizvod.nazivProizvoda }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="flag == 3">
            Da li ste sigurni da želite da izbrišete ovu stavku?
        </div>

        <div mat-dialog-actions>
            <button mat-raised-button color="accent" *ngIf="flag == 1" type="submit" [mat-dialog-close]="1"
                (click)="add()"
                [disabled]="!formControl.valid  || !kolicinaProizvoda.valid || isEmptyObject(proizvodDO)">Dodaj</button>
            <button mat-raised-button color="primary" *ngIf="flag == 3" type="submit" [mat-dialog-close]="1"
                (click)="delete()">Obriši</button>
            <button mat-raised-button color="warn" (click)="cancel()" tabindex="-1">Poništi</button>
        </div>
        <br>
    </form>
</div>