<mat-horizontal-stepper>
  <mat-step label="Home">
    <p>Beležite podatke o vašoj trafici!</p>
    <hr>
    <img height="85%" width="85%" src="../../../../assets/trafika1.jpg" />
    <div>
      <br/><button mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Manage">
    <p>Upravljajte vašim proizvodima, računima, izveštajima, porudžbinama, proizvođačima i vrstama proizvoda.</p>
    <hr>
    <img height="85%" width="85%" src="../../../../assets/trafika2.jpg" />
    <div>
      <br/><button mat-raised-button color="warn" matStepperPrevious>Back</button>&nbsp;
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Authentication and authorization">
    <p>Možete da kreirate nalog kao prodavac, dobavljač ili menadžer.</p>
    <hr>
    <img src="../../../../assets/trafika3.jpg" />
    <div>
      <br/><button mat-raised-button color="warn" matStepperPrevious>Back</button><br/><br/>
    </div>
  </mat-step>
</mat-horizontal-stepper>