<div class="container centered">
    <div class="card text-white bg-dark">
        <h4 class="card-header text-center">Prijavljivanje</h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label class="required" for="email">Email</label>
                    <input type="email" required placeholder="Unesite email adresu" formControlName="email"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email je obavezan</div>
                        <div *ngIf="f.email.errors.email">Unesite ispravnu email adresu</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="required" for="lozinka">Lozinka</label>
                    <input type="password" required placeholder="Unesite lozinku" minlength="8"
                        formControlName="lozinka" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.lozinka.errors }" />
                    <div *ngIf="submitted && f.lozinka.errors" class="invalid-feedback">
                        <div *ngIf="f.lozinka.errors.required">Lozinka je obavezna</div>
                        <div *ngIf="f.lozinka.errors.minlength">Lozinka mora sadržati najmanje 8 karaktera</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-success btn-block">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Prijavi se
                    </button><br />
                    <button routerLink="/register" class="btn btn-primary">Registruj se</button>&nbsp;
                    <button routerLink="/emailInput" class="btn btn-info">Resetuj lozinku</button>
                </div>
            </form>
        </div>
    </div>
</div>