<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje proizvoda</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija proizvoda</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Brisanje proizvoda</h3>
  <form class="mat-dialog-content" ngSubmit="submit" #formControl="ngForm">
    <div class="form">
      <mat-form-field hintLabel="Maksimalno 30 karaktera">
        <input matInput #input maxlength="30" placeholder="Naziv" [(ngModel)]="data.nazivProizvoda"
          name="nazivProizvoda" [disabled]="flag == 3" required>
        <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
      </mat-form-field>
    </div>

    <div class="form"> 
      <mat-form-field hintLabel="Maksimalno 100 karaktera">
        <input matInput #input2 maxlength="100" placeholder="Opis" [(ngModel)]="data.opisProizvoda" name="opisProizvoda"
          [disabled]="flag == 3">
        <mat-hint align="end">{{input2.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field hintLabel="Maksimalno 10 cifara">
        <input matInput #input3 min="0" maxlength="10" type="number" placeholder="Cena" [(ngModel)]="data.cena" name="cena"
          [disabled]="flag == 3" required>
        <mat-hint align="end">{{input3.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field hintLabel="Maksimalno 20 karaktera">
        <input matInput #input4 maxlength="20" placeholder="Tip pakovanja" [(ngModel)]="data.tipPakovanja"
          name="tipPakovanja" [disabled]="flag == 3">
        <mat-hint align="end">{{input4.value?.length || 0}}/20</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field hintLabel="Maksimalno 20 karaktera">
        <input matInput #input5 maxlength="20" placeholder="Veličina pakovanja" [(ngModel)]="data.velicinaPakovanja"
          name="velicinaPakovanja" [disabled]="flag == 3">
        <mat-hint align="end">{{input5.value?.length || 0}}/20</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field hintLabel="Maksimalno 20 karaktera">
        <input matInput #input6 maxlength="20" placeholder="Bar kod" [(ngModel)]="data.barKod" name="barKod"
          [disabled]="flag == 3" required>
        <mat-hint align="end">{{input6.value?.length || 0}}/20</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field hintLabel="Maksimalno 10 cifara">
        <input matInput #input7 maxlength="10" type="number" placeholder="Masa" [(ngModel)]="data.masa" name="masa"
          [disabled]="flag == 3" min="0">
        <mat-hint align="end">{{input7.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
    </div>
    
    <div class="form">
      <mat-form-field hintLabel="Maksimalno 10 cifara">
        <input matInput #input8 maxlength="10" type="number" placeholder="Raspoloživa količina" [(ngModel)]="data.raspolozivaKolicina" name="raspolozivaKolicina"
          [disabled]="flag == 3" required min="0">
        <mat-hint align="end">{{input8.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
    </div>

    <div class="form" *ngIf="isArray()">
      <mat-form-field>
        <mat-select [(ngModel)]="data.proizvodjac" placeholder="Proizvodjac" name="proizvodjac"
          [compareWith]="compareProizvodjac" [disabled]="flag == 3" required>
          <mat-option *ngFor="let proizvodjac of proizvodjaci" [value]="proizvodjac">
            {{ proizvodjac.nazivProizvodjaca }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form" *ngIf="isArray()">
      <mat-form-field>
        <mat-select [(ngModel)]="data.vrstaProizvoda" placeholder="Vrsta proizvoda" name="vrstaProizvoda"
          [compareWith]="compareVrstaProizvoda" [disabled]="flag == 3" required>
          <mat-option *ngFor="let vrstaProizvoda of vrsteProizvoda" [value]="vrstaProizvoda">
            {{ vrstaProizvoda.nazivVrsteProizvoda }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button color="accent" *ngIf="flag == 1" type="submit" [mat-dialog-close]="1" (click)="add()"
        [disabled]="!formControl.valid">Sačuvaj</button>
      <button mat-raised-button color="accent" *ngIf="flag == 2" type="submit" [mat-dialog-close]="1" (click)="update()"
        [disabled]="!formControl.valid">Sačuvaj</button>
      <button mat-raised-button color="primary" *ngIf="flag == 3" type="submit" [mat-dialog-close]="1"
        (click)="delete()">Obriši</button>
      <button mat-raised-button color="warn" (click)="cancel()" tabindex="-1">Poništi</button>
    </div>
  </form>
</div>