<br><br>
<div class="container email-input">
    <div class="card">
        <h4 class="card-header">Unesite vašu email adresu</h4>
        <div class="card-body">
            <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input placeholder="Unesite email adresu" required type="email" id="email" formControlName="email"
                        class="form-control" />
                    <span *ngIf="!emailForm.get('email').valid && emailForm.get('email').touched" class="help-block">
                        Email adresa nije ispravna!
                    </span>
                </div>
                <button type="submit" [disabled]="!emailForm.valid" class="btn btn-primary" data-toggle="tooltip"
                    data-placement="top" title="Send email">Pošalji</button>
            </form>
        </div>
    </div>
</div>