@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.red-snackbar {
  background: red;
  color: whitesmoke;
}

.required:after {
  content:" *";
  color: red;
}

html, body { 
    height: 100%;
    max-width: 100%;
    overflow-x: hidden; 
    overflow-y: hidden; 
}

body { 
 /* padding: 2em; */
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.centered {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}

.registerCentered {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding-top: 2em;
  padding-bottom: 2em;
}

.height {
  height: 100vh;
}

/* 
a {
  color: #00B7FF;
  cursor: pointer;
}

.center {
  margin: auto;
  width: 50%;
}

a:hover, a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
} 
*/