<div class="container centered">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Korisnički nalog</mat-card-title>
            <mat-card-subtitle><span class="badge badge-warning">{{uloga}}</span></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="prodavac.ime">
            <div><span class="badge badge-primary">Ime</span> {{prodavac.ime}}</div>
            <div><span class="badge badge-primary">Prezime</span> {{prodavac.prezime}}</div>
            <div><span class="badge badge-primary">Pol</span> {{prodavac.pol}}</div>
            <div><span class="badge badge-primary">Datum rođenja</span>
                {{prodavac.datumRodjenja | date : "dd.MM.yyyy."}}</div>
            <div *ngIf="prodavac.adresaStanovanja"><span class="badge badge-primary">Adresa stanovanja</span>
                {{prodavac.adresaStanovanja}}</div>
            <div *ngIf="prodavac.telefon"><span class="badge badge-primary">Telefon</span> {{prodavac.telefon}}</div>
            <div><span class="badge badge-primary">JMBG</span> {{prodavac.JMBG}}</div>
            <div><span class="badge badge-primary">Datum zaposlenja</span>
                {{prodavac.datumZaposlenja | date : "dd.MM.yyyy."}}</div>
            <div *ngIf="prodavac.strucnaSprema"><span class="badge badge-primary">Stručna sprema</span>
                {{prodavac.strucnaSprema}}</div>
            <div *ngIf="prodavac.menadzer"><span class="badge badge-primary">Adresa kancelarije</span>
                {{prodavac.menadzer.adresaKancelarije}}</div>
            <div *ngIf="prodavac.menadzer && prodavac.menadzer.brojKancelarije"><span class="badge badge-primary">Broj
                    kancelarije</span>
                {{prodavac.menadzer.brojKancelarije}}</div>
        </mat-card-content>

        <mat-card-content *ngIf="dobavljac.punNaziv">
            <div><span class="badge badge-primary">Skraćeni naziv</span> {{dobavljac.skraceniNaziv}}</div>
            <div *ngIf="dobavljac.punNaziv"><span class="badge badge-primary">Pun naziv</span> {{dobavljac.punNaziv}}
            </div>
            <div><span class="badge badge-primary">Kontakt</span> {{dobavljac.kontaktDobavljaca}}</div>
            <div><span class="badge badge-primary">Adresa</span> {{dobavljac.adresaDobavljaca}}</div>
            <div *ngIf="dobavljac.grad"><span class="badge badge-primary">Grad</span>{{dobavljac.grad}}</div>
            <div *ngIf="dobavljac.drzava"><span class="badge badge-primary">Država</span> {{dobavljac.drzava}}</div>
            <div><span class="badge badge-primary">Poštanski broj</span> {{dobavljac.postanskiBroj}}</div>
            <div><span class="badge badge-primary">PIB</span> {{dobavljac.PIB}}</div>
            <div *ngIf="dobavljac.kontaktOsoba"><span class="badge badge-primary">Kontakt osoba</span>
                {{dobavljac.kontaktOsoba}}</div>
            <div><span class="badge badge-primary">Broj žiro računa</span>{{dobavljac.brojZiroRacuna}}</div>
        </mat-card-content>

        <mat-card-actions>
            <button mat-icon-button color="primary" matTooltip="Izmenite nalog" (click)="openDialog(2)">
                <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
            <button mat-icon-button color="primary" matTooltip="Izbrišite nalog" (click)="openDialog(3)">
                <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>