<div id="register" class="container registerCentered height">
    <div class="row justify-content-center">
        <div class="card text-white bg-dark">
            <h3 class="card-header text-center">Registracija novog naloga</h3>
            <div class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label class="required" for="email">Email</label>
                        <input autocomplete="email" type="email" maxlength="30" placeholder="Unesite email adresu"
                            formControlName="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email je obavezan</div>
                            <div *ngIf="f.email.errors.email">Unesite ispravnu email adresu</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="required" for="lozinka">Lozinka</label>
                        <input autocomplete="new-password" type="password" required placeholder="Unesite lozinku"
                            formControlName="lozinka" class="form-control" minlength="8"
                            [ngClass]="{ 'is-invalid': submitted && f.lozinka.errors }" />
                        <div *ngIf="submitted && f.lozinka.errors" class="invalid-feedback">
                            <div *ngIf="f.lozinka.errors.required">Lozinka je obavezna</div>
                            <div *ngIf="f.lozinka.errors.minlength">Lozinka mora sadržati najmanje 8 karaktera</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="required" for="passwordRepeat">Potvrdite lozinku</label>
                        <input autocomplete="new-password" type="password" required placeholder="Ponovite vašu lozinku"
                            id="passwordRepeat" formControlName="passwordRepeat" class="form-control" minlength="8"
                            [ngClass]="{ 'is-invalid': submitted && f.passwordRepeat.errors }" />
                        <div *ngIf="submitted && f.passwordRepeat.errors" class="invalid-feedback">
                            <div *ngIf="f.passwordRepeat.errors.required">Morate potvrditi lozinku</div>
                            <div *ngIf="f.passwordRepeat.errors.minlength">Lozinka mora sadržati najmanje 8 karaktera
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="required" for="uloga">Uloga</label>
                        <select id="uloga" required formControlName="uloga" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.uloga.errors }">
                            <option value="" selected>Izaberite ulogu</option>
                            <option value="prodavac">prodavac</option>
                            <option value="menadžer">menadžer</option>
                            <option value="dobavljac">dobavljač</option>
                        </select>
                        <div *ngIf="submitted && f.uloga.errors" class="invalid-feedback">
                            <div *ngIf="f.uloga.errors.required">Uloga je obavezna</div>
                        </div>
                    </div>

                    <div *ngIf="isDobavljac()">
                        <div class="form-group">
                            <label class="required" for="skraceniNaziv">Skraćeni naziv</label>
                            <input type="text" maxlength="10" placeholder="Unesite skraćeni naziv"
                                formControlName="skraceniNaziv" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.skraceniNaziv.errors }" required />
                            <div *ngIf="submitted && f.skraceniNaziv.errors" class="invalid-feedback">
                                <div *ngIf="f.skraceniNaziv.errors.required">Skraćeni naziv je obavezan</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="punNaziv">punNaziv</label>
                            <input type="text" maxlength="50" placeholder="Unesite pun naziv" formControlName="punNaziv"
                                class="form-control" />
                        </div>

                        <div class="form-group">
                            <label class="required" for="kontaktDobavljaca">Kontakt</label>&nbsp;<small>Mora biti
                                jedinstven</small>
                            <input type="text" maxlength="20" placeholder="Unesite broj telefona"
                                formControlName="kontaktDobavljaca" class="form-control" required
                                [ngClass]="{ 'is-invalid': submitted && f.kontaktDobavljaca.errors }" />
                            <div *ngIf="submitted && f.kontaktDobavljaca.errors" class="invalid-feedback">
                                <div *ngIf="f.kontaktDobavljaca.errors.required">Kontakt je obavezan</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="required" for="adresaDobavljaca">Adresa</label>
                            <input type="text" maxlength="50" placeholder="Unesite adresu"
                                formControlName="adresaDobavljaca" class="form-control" required
                                [ngClass]="{ 'is-invalid': submitted && f.adresaDobavljaca.errors }" />
                            <div *ngIf="submitted && f.adresaDobavljaca.errors" class="invalid-feedback">
                                <div *ngIf="f.adresaDobavljaca.errors.required">Adresa je obavezna</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="grad">Grad</label>
                            <input type="text" maxlength="20" placeholder="Unesite grad" formControlName="grad"
                                class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="drzava">Država</label>
                            <input type="text" maxlength="30" placeholder="Unesite državu" formControlName="drzava"
                                class="form-control" />
                        </div>

                        <div class="form-group">
                            <label class="required" for="postanskiBroj">Poštanski broj</label>
                            <input type="text" maxlength="20" placeholder="Unesite poštanski broj"
                                formControlName="postanskiBroj" class="form-control" required
                                [ngClass]="{ 'is-invalid': submitted && f.postanskiBroj.errors }" />
                            <div *ngIf="submitted && f.postanskiBroj.errors" class="invalid-feedback">
                                <div *ngIf="f.postanskiBroj.errors.required">Poštanski broj je obavezan</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="required" for="PIB">PIB</label>&nbsp;<small>Mora biti jedinstven</small>
                            <input type="number" min="100000010" max="999999999" required
                                placeholder="Mora biti od 100000010 do 999999999" formControlName="PIB"
                                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.PIB.errors }" />
                            <div *ngIf="submitted && f.PIB.errors" class="invalid-feedback">
                                <div *ngIf="f.PIB.errors.required">PIB je obavezan</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="kontaktOsoba">Kontakt osoba</label>
                            <input type="text" maxlength="50" placeholder="Unesite osobu za kontakt"
                                formControlName="kontaktOsoba" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label class="required" for="brojZiroRacuna">Broj žiro računa</label>&nbsp;<small>Mora biti
                                jedinstven</small>
                            <input required type="text" maxlength="30" placeholder="Unesite broj žiro računa"
                                [ngClass]="{ 'is-invalid': submitted && f.brojZiroRacuna.errors }"
                                formControlName="brojZiroRacuna" class="form-control" />
                            <div *ngIf="submitted && f.brojZiroRacuna.errors" class="invalid-feedback">
                                <div *ngIf="f.brojZiroRacuna.errors.required">Broj žiro računa je obavezan</div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="isProdavac() || isMenadzer()">
                        <div class="form-group">
                            <label class="required" for="ime">Ime</label>
                            <input placeholder="Unesite vaše ime" maxlength="20" type="text" formControlName="ime"
                                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ime.errors }" required />
                            <div *ngIf="submitted && f.ime.errors" class="invalid-feedback">
                                <div *ngIf="f.ime.errors.required">Ime je obavezno</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="required" for="prezime">Prezime</label>
                            <input type="text" maxlength="30" placeholder="Unesite vaše prezime"
                                formControlName="prezime" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.prezime.errors }" required />
                            <div *ngIf="submitted && f.prezime.errors" class="invalid-feedback">
                                <div *ngIf="f.prezime.errors.required">Prezime je obavezno</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="required" for="pol">Pol</label>
                            <select id="pol" formControlName="pol" class="form-control" required
                                [ngClass]="{ 'is-invalid': submitted && f.pol.errors }">
                                <option value="muško" selected>muško</option>
                                <option value="žensko">žensko</option>
                            </select>
                            <div *ngIf="submitted && f.pol.errors" class="invalid-feedback">
                                <div *ngIf="f.pol.errors.required">Pol je obavezan</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="required" for="datumRodjenja">Datum rođenja</label>
                            <input min="1900-01-01" max="2078-12-31" onkeydown="return false" type="date"
                                formControlName="datumRodjenja" class="form-control" required
                                [ngClass]="{ 'is-invalid': submitted && f.datumRodjenja.errors }" />
                            <div *ngIf="submitted && f.datumRodjenja.errors" class="invalid-feedback">
                                <div *ngIf="f.datumRodjenja.errors.required">Datum rođenja je obavezan</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="adresaStanovanja">Adresa</label>
                            <input type="text" maxlength="50" placeholder="Unesite adresu stanovanja"
                                formControlName="adresaStanovanja" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="telefon">Telefon</label>
                            <input type="text" maxlength="20" placeholder="Unesite broj telefona"
                                formControlName="telefon" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label class="required" for="JMBG">JMBG</label>&nbsp;<small>Mora biti jedinstven</small>
                            <input type="text" pattern="[0-9]+" minlength="13" maxlength="13" required
                                placeholder="Unesite jedinstveni matični broj građanina" formControlName="JMBG"
                                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.JMBG.errors }" />
                            <div *ngIf="submitted && f.JMBG.errors" class="invalid-feedback">
                                <div *ngIf="f.JMBG.errors.required">JMBG je obavezan</div>
                                <div *ngIf="f.JMBG.errors.minlength">JMBG mora imati 13 cifara!</div>
                                <div *ngIf="f.JMBG.errors.maxlength">JMBG mora imati 13 cifara!</div>
                                <div *ngIf="f.JMBG.errors.pattern">JMBG sme da sadrži samo cifre!</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="required" for="datumZaposlenja">Datum zaposlenja</label>
                            <input min="1900-01-01" max="2078-12-31" onkeydown="return false" required type="date"
                                formControlName="datumZaposlenja" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.datumZaposlenja.errors }" />
                            <div *ngIf="submitted && f.datumZaposlenja.errors" class="invalid-feedback">
                                <div *ngIf="f.datumZaposlenja.errors.required">Datum zaposlenja je obavezan</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="strucnaSprema">Stručna sprema</label>
                            <input type="text" maxlength="20" placeholder="Unesite stepen stručne spreme"
                                formControlName="strucnaSprema" class="form-control" />
                        </div>
                    </div>

                    <div *ngIf="isMenadzer()">
                        <div class="form-group">
                            <label class="required" for="adresaKancelarije">Adresa kancelarije</label>
                            <input type="text" placeholder="Unesite adresu kancelarije" required
                                formControlName="adresaKancelarije" class="form-control" maxlength="50"
                                [ngClass]="{ 'is-invalid': submitted && f.adresaKancelarije.errors }" />
                            <div *ngIf="submitted && f.adresaKancelarije.errors" class="invalid-feedback">
                                <div *ngIf="f.adresaKancelarije.errors.required">Adresa kancelarije je obavezna</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="brojKancelarije">Broj kancelarije</label>
                            <input max="5" placeholder="Unesite broj kancelarije" type="text"
                                formControlName="brojKancelarije" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" [disabled]="loading" class="btn btn-success btn-block">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Registruj se
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>